<settings>
    <servers>
        <server>
            <id>prototype</id>
            <username>${env.GITHUB_ACTOR}</username>
            <password>${env.GITHUB_TOKEN}</password>
        </server>
    </servers>
  <profiles>
    <profile>
      <id>default</id>
      <pluginRepositories>
        <pluginRepository>
          <id>prototype</id>
          <name>Project Repository Plugins</name>
          <url>${env.REPOSITORY_URL}</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
    <mirrors>
      <mirror>
        <id>prototype</id>
        <name>Maven Central mirror</name>
        <url>https://repo.maven.apache.org/maven2/</url>
        <mirrorOf>central</mirrorOf>
      </mirror>
    </mirrors>
</settings>